<header id="header">
  <nav class="row" role="navigation">
    <div class="col-md-3 col-md-offset-1">
      <a href="{{ site.baseurl }}/" class="logo">Soil</a>
    </div>

    <div class="col-md-7">
        <div class="pull-right">
          {% include sections.erb %}
        </div>
    </div>

  </nav>
</header>