sudo: required

notifications:
  email:
    on_success: change
    on_failure: change

language: go

services:
- docker

go:
  - 1.9.2

script:
- go test -p=1 -tags="test_unit debug" ./...
- go test -p=1 -tags="test_cluster debug" ./...
