### POD test-1 {"AgentMark":456,"Namespace":"private","PodMark":123}
### RESOURCE fake1 1 {"Request":{"fixed":8080},"Values":{"value":"8080"}}
### RESOURCE fake1 2 {"Request":{},"Values":{"value":"8080"}}
### RESOURCE fake2 1 {"Request":{},"Values":{"value":"1"}}
[Unit]
Description=test-1
Before=
[Service]
ExecStart=/usr/bin/sleep inf
[Install]
WantedBy=multi-user.target
