/*
Base
*/

body {
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    color: #555555;
    line-height: 1.84em;
}

h1 {
    font-weight: normal;
    margin-bottom: 1em;
}

h2 {
    margin-top: 1.4em;
    margin-bottom: .4em;
}

code, pre {
    line-height: 1.84em;
}

code {
    color: #444444;
    font-size: 85%;
    background: transparent;
    padding: 0;
}

pre {
    padding: 12px 14px;
    margin: 1.4em 0;
    background-color: #fcfcfc;
    border-color: #dddddd;
}

a, a code {
    color: #4cae4c;
}

.logo {
    font-family: 'PT Serif', serif;
    font-weight: bold;
}

/*
sections
*/

ul.sections {
    list-style: none;
    display: inline-block;
    padding: 0;
}

ul.sections li {
    display: inline-block;
    padding-left: .6em;
    padding-right: .6em;
    margin: 0;
}

ul.sections a {
    opacity: .85;
    text-decoration: none !important;
    cursor: hand;
}

ul.sections a svg {
    width: 1em;
    height: 1em;
    margin-right: .3em;
    top: .1em;
    position: relative;
}

ul.sections a:hover, ul.sections a.active {
    opacity: 1;
}

blockquote {
    font-size: 90%;
}

/*
content
 */

.content img {
    max-width: 70%;
    padding: 1em 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.content h2 a.header-link {
    font-size: 80%;
    padding-left: .3em;
    position: relative;
    visibility: hidden;
}

.content h2:hover a.header-link {
    visibility: visible;
}

.content dt, .content dd {
    line-height: 1.84em;
}

.content dt {
    font-weight: normal;
}

.content dd {
    font-weight: normal;
    margin-bottom: 16px;
    margin-left: 40px;
}

.content table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
}

.content thead {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

.content tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

.content tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.content td, .content th {
    line-height: 1.42857;
    vertical-align: top;
    font-size: 90%;
    margin: 0;
}

.content td {
    padding: 10px 8px 8px;
    border-top: 1px solid #ddd;
}

.content th {
    padding: 1px 8px 8px;
    border-bottom: 2px solid #ddd;
}

.content tbody>tr:last-child {
    border-bottom: 2px solid #ddd;
}

.content tbody>tr:first-child {
    border-top: 2px solid #ddd;
}

.content td>code, .content th>code {
    background: transparent;
    font-size: 100%;
    line-height: 1.42857;
    padding: 0;
    margin: 0;
    color: #666666;
}

.content li {
    margin-top: 14px;
    margin-bottom: 16px;
}



/*
Section navigation
*/
.section > ul.nav > li > a {
    padding: 10px 0 10px 15px;
    background: transparent;
    color: #555555;
}

.section > ul.nav > li > a:before {
    content: '\203A';
    position: absolute;
    left: 0;
}

.section > ul.nav > li > a:hover {
    color: #000000;
}

.section > ul.nav > li > a.active {
    color: #4cae4c;
}

/*
Header
 */

header {
    background-color: #4cae4c;
    padding-top: .7em;
    padding-bottom: .7em;
    margin-bottom: 4em;
}

header a {
    color: #FFFFFF;
    fill: #FFFFFF;
    font-size: 90%;
}

header a:hover {
    color: #FFFFFF;
}

header a.logo {
    font-size: 2em;
    line-height: 2em;
    opacity: .9;
}

header a.logo:hover {
    opacity: 1;
    text-decoration: none;

}

header ul.sections {
    padding-top: 1em;
}

/*
footer
 */

footer {
    margin-top: 4em;
}

footer a {
    color: #555555;
    fill: #555555;
}

footer a.active {
    color: #4cae4c;
    fill: #4cae4c;
}

footer a:hover {
    color: #000000;
    fill: #000000;
}

/*
landing
*/

header.landing {
    background-color: transparent;
}

header.landing a {
    color: #555555;
    fill: #555555;
}
header.landing a:hover {
    color: #000000;
    fill: #000000;
}
header.landing a.logo {
    color: transparent;
}

.landing {
    /*text-align: center;*/
}

.landing h1 {
    /*margin-top: 1em;*/
    position: relative;
    font-size: 5em;
    font-weight: bold;
    color: #4cae4c;
    margin-bottom: .4em;
    font-family: 'PT Serif', serif;
    /*text-align: center;*/
}

.landing h4 {
    margin-bottom: 3em;
    font-family: 'PT Serif', serif;
    /*text-align: center;*/
}

.landing h2 {
    font-size: 1.6em;
    margin-top: 1.2em;
    margin-bottom: .5em;
}
